altair==4.1.0
async-generator==1.10
async-timeout==3.0.1
backports.zoneinfo==0.2.1
base58==2.1.0
blinker==1.4
brotlipy==0.7.0
certifi==2021.5.30
click==7.1.2
cycler==0.10.0
dill==0.3.4
example==0.1.0
future==0.18.2
gitdb==4.0.7
GitPython==3.1.18
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googleapis-common-protos==1.53.0
htmlmin==0.1.12
importlib-resources==5.2.0
ipython-genutils==0.2.0
matplotlib==3.4.3
missingno==0.4.2
mlxtend==0.18.0
numpy==1.17.3
pandas==1.3.0
pandocfilters==1.4.2
promise==2.3
protobuf==3.17.2
pyarrow==5.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pydeck==0.6.2
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.4.1
scikit-learn==0.24.2
scipy==1.7.0
seaborn==0.11.2
smmap==4.0.0
streamlit==0.87.0
tensorflow==2.4.0-rc0
tensorflow-datasets==4.3.0
tensorflow-metadata==1.1.0
termcolor==1.1.0
